.pp-categories {
  color: #222; }
  .pp-categories .pp-categories-container {
    width: 900px;
    margin: 0 auto; }
    .pp-categories .pp-categories-container .pp-expense {
      width: 400px;
      margin: 0 auto;
      float: left; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__heading {
        font-size: 22px;
        color: #ED1946;
        text-align: center; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense-list {
        font-size: 14px;
        list-style-type: none;
        padding-left: 0; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item {
          width: 400px;
          height: 55px;
          border: 1px solid #F6F5F8;
          padding: 5px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item:nth-child(even) {
            background-color: #F6F5F8; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item:hover > .pp-expense-list__name {
            margin-left: 40px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item .pp-expense-list__name {
            line-height: 34px;
            margin-left: 10px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item .pp-expense-list__button {
            margin: 0;
            float: right;
            width: 45px;
            height: 45px;
            background: #ED1946;
            padding: 6px;
            border: none;
            color: white;
            font-size: 15px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense-form {
        width: 300px;
        margin: 0 auto;
        text-align: center; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-form .pp-expense-form__input {
          color: #222; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-form .pp-expense-form__button {
          display: inline;
          margin-left: 5px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__alert {
        margin-top: 10px;
        width: 400px; }
    .pp-categories .pp-categories-container .pp-income {
      width: 400px;
      margin: 0 auto;
      float: right; }
      .pp-categories .pp-categories-container .pp-income .pp-income__heading {
        font-size: 22px;
        color: #10EDC5;
        text-align: center; }
      .pp-categories .pp-categories-container .pp-income .pp-income-list {
        font-size: 14px;
        list-style-type: none;
        padding-left: 0; }
        .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item {
          width: 400px;
          height: 55px;
          border: 1px solid #F6F5F8;
          padding: 5px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item:nth-child(even) {
            background-color: #F6F5F8; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item:hover > .pp-income-list__name {
            margin-left: 40px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item .pp-income-list__name {
            line-height: 34px;
            margin-left: 10px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item .pp-income-list__button {
            margin: 0;
            float: right;
            width: 45px;
            height: 45px;
            background: #ED1946;
            padding: 6px;
            border: none;
            color: white;
            font-size: 15px; }
      .pp-categories .pp-categories-container .pp-income .pp-income-form {
        width: 300px;
        margin: 0 auto;
        text-align: center; }
        .pp-categories .pp-categories-container .pp-income .pp-income-form .pp-income-form__input {
          color: #222; }
        .pp-categories .pp-categories-container .pp-income .pp-income-form .pp-income-form__button {
          display: inline;
          margin-left: 5px; }
      .pp-categories .pp-categories-container .pp-income .pp-income__alert {
        margin-top: 10px;
        width: 400px; }

@media only screen and (min-width: 1366px) {
  .pp-categories .pp-categories-container {
    width: 1000px; }
    .pp-categories .pp-categories-container .pp-expense {
      width: 450px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__heading {
        font-size: 24px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense-list {
        font-size: 16px; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item {
          width: 450px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item .pp-expense-list__button {
            font-size: 18px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__alert {
        width: 450px; }
    .pp-categories .pp-categories-container .pp-income {
      width: 450px; }
      .pp-categories .pp-categories-container .pp-income .pp-income__heading {
        font-size: 24px; }
      .pp-categories .pp-categories-container .pp-income .pp-income-list {
        font-size: 16px; }
        .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item {
          width: 450px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item .pp-income-list__button {
            font-size: 18px; }
      .pp-categories .pp-categories-container .pp-income .pp-income__alert {
        width: 450px; } }
@media only screen and (max-width: 960px) {
  .pp-categories .pp-categories-container {
    width: 500px; }
    .pp-categories .pp-categories-container .pp-expense {
      float: none; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__heading {
        font-size: 20px; }
    .pp-categories .pp-categories-container .pp-income {
      float: none; }
      .pp-categories .pp-categories-container .pp-income .pp-income__heading {
        font-size: 20px; } }
@media only screen and (max-width: 520px) {
  .pp-categories .pp-categories-container {
    width: 360px; }
    .pp-categories .pp-categories-container .pp-expense {
      width: 360px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__heading {
        font-size: 18px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense-list {
        font-size: 12px; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item {
          width: 360px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item .pp-expense-list__button {
            font-size: 14px;
            width: 40px;
            height: 40px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__alert {
        width: 360px; }
    .pp-categories .pp-categories-container .pp-income {
      width: 360px; }
      .pp-categories .pp-categories-container .pp-income .pp-income__heading {
        font-size: 18px; }
      .pp-categories .pp-categories-container .pp-income .pp-income-list {
        font-size: 12px; }
        .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item {
          width: 360px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item .pp-income-list__button {
            font-size: 14px;
            width: 40px;
            height: 40px; }
      .pp-categories .pp-categories-container .pp-income .pp-income__alert {
        width: 360px; } }
@media only screen and (max-width: 380px) {
  .pp-categories .pp-categories-container {
    width: 275px; }
    .pp-categories .pp-categories-container .pp-expense {
      width: 275px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense-list {
        font-size: 12px; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item {
          height: 45px;
          width: 275px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item:hover > .pp-expense-list__name {
            margin-left: 2px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item .pp-expense-list__name {
            margin-left: 2px; }
          .pp-categories .pp-categories-container .pp-expense .pp-expense-list .pp-expense-list__item .pp-expense-list__button {
            width: 35px;
            height: 35px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense-form {
        width: auto; }
        .pp-categories .pp-categories-container .pp-expense .pp-expense-form .pp-expense-form__input {
          font-size: 12px; }
      .pp-categories .pp-categories-container .pp-expense .pp-expense__alert {
        width: 275px;
        font-size: 12px; }
    .pp-categories .pp-categories-container .pp-income {
      width: 275px; }
      .pp-categories .pp-categories-container .pp-income .pp-income-list {
        font-size: 12px; }
        .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item {
          height: 45px;
          width: 275px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item:hover > .pp-income-list__name {
            margin-left: 2px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item .pp-income-list__name {
            margin-left: 2px; }
          .pp-categories .pp-categories-container .pp-income .pp-income-list .pp-income-list__item .pp-income-list__button {
            width: 35px;
            height: 35px; }
      .pp-categories .pp-categories-container .pp-income .pp-income-form {
        width: auto; }
        .pp-categories .pp-categories-container .pp-income .pp-income-form .pp-income-form__input {
          font-size: 12px; }
      .pp-categories .pp-categories-container .pp-income .pp-income__alert {
        width: 275px;
        font-size: 12px; } }

/*# sourceMappingURL=categories.stylesheet.css.map */
