@import "../../../stylesheets/variables";

.pp-categories {
  color: #222;
    .pp-categories-list {
      list-style-type: none;
      padding-left: 0;
      .pp-categories-list__item {
        width: 450px;
        border: 1px solid #F6F5F8;
        padding: 5px;
      }
      .pp-categories-list__name{
        line-height: 34px;
      }
      .pp-categories-list__button {
        margin-right: 50px;
        float: right;
      }
    }
  .pp-configure-form {
    .pp-expense-heading {
      color: $teal-accent;
    }
    .pp-income-heading {
      color: $pink-accent;
    }
    .pp-configure-form__input {
      color: #222;
    }
    .pp-configure-form__button {
      float: right;
      margin-right: 255px;
    }
  }
  .pp-continue-container {
    margin: 0 auto;
    display: block;
    width: 100px;
  }
}