@import "../../../stylesheets/variables";

.pp-categories {
  color: #222;
  .pp-categories-container {
    width: 900px;
    margin: 0 auto;
    .pp-expense {
      width: 400px;
      margin: 0 auto;
      float: left;
      .pp-expense__heading {
        font-size: 22px;
        color: $pink-accent;
        text-align: center;
      }
      .pp-expense-list {
        font-size: 14px;
        list-style-type: none;
        padding-left: 0;
        .pp-expense-list__item {
          width: 400px;
          height: 55px;
          border: 1px solid #F6F5F8;
          padding: 5px;
          &:nth-child(even) {
            background-color: #F6F5F8;
          }
          &:hover > .pp-expense-list__name {
            margin-left: 40px;
          }
          .pp-expense-list__name {
            line-height: 34px;
            margin-left: 10px;
          }
          .pp-expense-list__button {
            margin: 0;
            float: right;
            width: 45px;
            height: 45px;
            background: $pink-accent;
            padding: 6px;
            border: none;
            color: white;
            font-size: 15px;
          }
        }
      }
      .pp-expense-form {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        .pp-expense-form__input {
          color: #222;
        }
        .pp-expense-form__button {
          display: inline;
          margin-left: 5px;
        }
      }
      .pp-expense__alert{
        margin-top: 10px;
        width: 400px;
      }
    }

    .pp-income {
      width: 400px;
      margin: 0 auto;
      float: right;
      .pp-income__heading {
        font-size: 22px;
        color: $teal-accent;
        text-align: center;
      }
      .pp-income-list {
        font-size: 14px;
        list-style-type: none;
        padding-left: 0;
        .pp-income-list__item {
          width: 400px;
          height: 55px;
          border: 1px solid #F6F5F8;
          padding: 5px;
          &:nth-child(even) {
            background-color: #F6F5F8;
          }
          &:hover > .pp-income-list__name {
            margin-left: 40px;
          }
          .pp-income-list__name {
            line-height: 34px;
            margin-left: 10px;
          }
          .pp-income-list__button {
            margin: 0;
            float: right;
            width: 45px;
            height: 45px;
            background: $pink-accent;
            padding: 6px;
            border: none;
            color: white;
            font-size: 15px;
          }
        }
      }
      .pp-income-form {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        .pp-income-form__input {
          color: #222;
        }
        .pp-income-form__button {
          display: inline;
          margin-left: 5px;
        }
      }
      .pp-income__alert{
        margin-top: 10px;
        width: 400px;
      }
    }

  }
}

@media only screen and (min-width: $XL) {
  .pp-categories {
    .pp-categories-container {
      width: 1000px;
      .pp-expense {
        width: 450px;
        .pp-expense__heading {
          font-size: 24px;
        }
        .pp-expense-list {
          font-size: 16px;
          .pp-expense-list__item {
            width: 450px;
            .pp-expense-list__name {
            }
            .pp-expense-list__button {
              font-size: 18px;
            }
          }
        }
        .pp-expense__alert{
          width: 450px;
        }
      }

      .pp-income {
        width: 450px;
        .pp-income__heading {
          font-size: 24px;
        }
        .pp-income-list {
          font-size: 16px;
          .pp-income-list__item {
            width: 450px;
            .pp-income-list__name {
            }
            .pp-income-list__button {
              font-size: 18px;
            }
          }
        }
        .pp-income__alert{
          width: 450px;
        }
      }
    }
  }
}

@media only screen and (max-width: $L) {
  .pp-categories {
    .pp-categories-container {
      width: 500px;
      .pp-expense {
        float: none;
        .pp-expense__heading {
          font-size: 20px;
        }
      }

      .pp-income {
        float: none;
        .pp-income__heading {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: $M) {
  .pp-categories {
    .pp-categories-container {
      width: 360px;
      .pp-expense {
        width: 360px;
        .pp-expense__heading {
          font-size: 18px;
        }
        .pp-expense-list {
          font-size: 12px;
          .pp-expense-list__item {
            width: 360px;
            .pp-expense-list__name {
            }
            .pp-expense-list__button {
              font-size: 14px;
              width: 40px;
              height: 40px;
            }
          }
        }
        .pp-expense__alert{
          width: 360px;
        }
      }

      .pp-income {
        width: 360px;
        .pp-income__heading {
          font-size: 18px;
        }
        .pp-income-list {
          font-size: 12px;
          .pp-income-list__item {
            width: 360px;
            .pp-income-list__name {
            }
            .pp-income-list__button {
              font-size: 14px;
              width: 40px;
              height: 40px;
            }
          }
        }
        .pp-income__alert{
          width: 360px;
        }
      }
    }
  }
}

@media only screen and (max-width: $S) {
  .pp-categories {
    .pp-categories-container {
      width: 275px;
      .pp-expense {
        width: 275px;
        .pp-expense__heading {
        }
        .pp-expense-list {
          font-size: 12px;
          .pp-expense-list__item {
            height: 45px;
            width: 275px;
            &:hover > .pp-expense-list__name {
              margin-left: 2px;
            }
            .pp-expense-list__name {
              margin-left: 2px;
            }
            .pp-expense-list__button {
              width: 35px;
              height: 35px;
            }
          }
        }
        .pp-expense-form {
          width: auto;
          .pp-expense-form__input {
            font-size: 12px;
          }
        }
        .pp-expense__alert{
          width: 275px;
          font-size: 12px;
        }
      }

      .pp-income {
        width: 275px;
        .pp-income__heading {
        }
        .pp-income-list {
          font-size: 12px;
          .pp-income-list__item {
            height: 45px;
            width: 275px;
            &:hover > .pp-income-list__name {
              margin-left: 2px;
            }
            .pp-income-list__name {
              margin-left: 2px;
            }
            .pp-income-list__button {
              width: 35px;
              height: 35px;
            }
          }
        }
        .pp-income-form {
          width: auto;
          .pp-income-form__input {
            font-size: 12px;
          }
        }
        .pp-income__alert{
          width: 275px;
          font-size: 12px;
        }
      }
    }
  }
}