<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penny-Pincher</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <link rel="stylesheet" href="./stylesheets/add_transaction.stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="pp-add-transaction">
    <section class="pp-total-information">
      <header class="pp-header">
        <h1 class="pp-header__heading">Penny-Pincher</h1>
      </header>
      <div class="pp-total-details">
        <h2 class="pp-total-details__heading">
          TOTAL BALANCE
        </h2>
        <p class="pp-total-details__balance" id="totalBalance">
        </p>
      </div>
    </section>
    <div class="pp-transaction">
      <form class="pp-transaction__form form-horizontal" role="form" id="transactionForm">
        <div class="pp-transaction__type form-group">
          <h1 class="pp-transaction__heading">Choose transaction's type:</h1>
          <button type="button" class="pp-transaction__expense" id="expenseButton">Expense</button>
          <button type="button" class="pp-transaction__income" id="incomeButton">Income</button>
        </div>
        <div class="pp-transaction__title form-group">
          <label for="title" class="pp-transaction__label control-label col-sm-2">Title</label>
          <div class="col-sm-10">
            <input class="pp-transaction__input form-control" id="title" type="text" required/>
          </div>
        </div>
        <div class="pp-transaction__date form-group">
          <label for="date" class="pp-transaction__label control-label col-sm-2">Date</label>
          <div class="col-sm-10">
            <input class="pp-transaction__input form-control" id="date" type="date" required>
          </div>
        </div>
        <div class="pp-transaction__category form-group">
          <label for="category" class="pp-transaction__label control-label col-sm-2">Category</label>
          <div class="col-sm-10">
            <select class="pp-transaction__select form-control" id="category" required> </select>
          </div>
        </div>
        <div class="pp-transaction__account form-group">
          <label for="account" class="pp-transaction__label control-label col-sm-2">Account</label>
          <div class="col-sm-10">
            <select class="pp-transaction__select form-control" id="account"> </select>
          </div>
        </div>
        <div class="pp-transaction__amount form-group">
          <label for="title" class="pp-transaction__label control-label col-sm-2">Amount</label>
          <div class="col-sm-10">
            <input
              class="pp-transaction__input form-control"
              id="amount"
              placeholder="0.00"
              type="number"
              min="0"
              step="0.01"
              required
            >
          </div>
        </div>
        <div class="pp-transaction-add form-group">
          <button type="button" class="pp-transaction-add__button--add btn btn-success" id="addTransactionButton">Add</button>
          <a type="button" class="pp-transaction-add__button--cancel btn btn-danger" href="../main/main.template.html">Cancel</a>
        </div>
      </form>
      <div class="pp-transaction__alert" id="alertForUser"></div>
    </div>
    <script src="../../helper_modules/ManageLocalStorage.js"></script>
    <script src="./add_transaction.js"></script>
  </body>
</html>