.pp-add-transaction {
  color: #111; }
  .pp-add-transaction .pp-transaction {
    width: 450px;
    margin: 0 auto; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__form--expense {
      color: #10EDC5; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__form--income {
      color: #ED1946; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type {
      width: 450px;
      margin: 20px auto;
      text-align: center; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__heading {
        font-size: 24px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__expense {
        padding: 6px 16px;
        border: 1px solid #446d88;
        background-color: #9A9AAC;
        border-radius: 25px;
        box-shadow: 0 1px 5px gray;
        color: #111;
        text-shadow: 0 -1px 1px #335166;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
        z-index: 1;
        position: relative; }
        .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__expense:focus {
          outline: none; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__expense--active {
        background-color: #10EDC5;
        color: #fff;
        z-index: 2; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__income {
        padding: 6px 16px;
        border: 1px solid #446d88;
        background-color: #9A9AAC;
        border-radius: 25px;
        box-shadow: 0 1px 5px gray;
        color: #111;
        text-shadow: 0 -1px 1px #335166;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
        z-index: 1;
        margin-left: -15px;
        position: relative; }
        .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__income:focus {
          outline: none; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__income--active {
        background-color: #ED1946;
        color: #fff;
        z-index: 2; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction-add {
      text-align: center; }

@media only screen and (max-width: 520px) {
  .pp-add-transaction .pp-transaction {
    width: 320px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type {
      width: 320px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__heading {
        font-size: 20px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__expense {
        font-size: 16px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__income {
        font-size: 16px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction-add .pp-transaction-add__button--add {
      font-size: 13px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction-add .pp-transaction-add__button--cancel {
      font-size: 13px; }
    .pp-add-transaction .pp-transaction .pp-transaction__alert {
      font-size: 14px; } }
@media only screen and (max-width: 380px) {
  .pp-add-transaction .pp-transaction {
    width: 252px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type {
      width: 252px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__heading {
        font-size: 18px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__expense {
        font-size: 13px; }
      .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__type .pp-transaction__income {
        font-size: 13px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__title .pp-transaction__label {
      font-size: 12px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__date .pp-transaction__label {
      font-size: 12px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__category .pp-transaction__label {
      font-size: 12px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__account .pp-transaction__label {
      font-size: 12px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction__amount {
      font-size: 12px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction-add .pp-transaction-add__button--add {
      font-size: 11px; }
    .pp-add-transaction .pp-transaction .pp-transaction__form .pp-transaction-add .pp-transaction-add__button--cancel {
      font-size: 11px; }
    .pp-add-transaction .pp-transaction .pp-transaction__alert {
      font-size: 12px; } }

/*# sourceMappingURL=add_transaction.stylesheet.css.map */
