body {
  background-color: #fff;
  font-family: "Segoe UI", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
  color: #000; }
  body .pp-total-information {
    position: relative;
    height: 50vh;
    margin: 0 auto;
    background-color: #292787; }
    body .pp-total-information .pp-header {
      text-align: center;
      padding: 5px;
      background: #292787;
      color: #fff; }
      body .pp-total-information .pp-header .pp-header__heading {
        font-size: 18px;
        font-weight: 700; }
    body .pp-total-information .pp-configuration {
      height: 120px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center; }
      body .pp-total-information .pp-configuration .pp-configuration__heading, body .pp-total-information .pp-configuration .pp-configuration__subheading {
        color: #AAA9FF;
        font-size: 12px;
        letter-spacing: 1px; }
    body .pp-total-information .pp-total-details {
      height: 120px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 25px;
      text-align: center; }
      body .pp-total-information .pp-total-details .pp-total-details__heading {
        color: #AAA9FF;
        font-size: 12px;
        letter-spacing: 1px; }
      body .pp-total-information .pp-total-details .pp-total-details__balance {
        color: #fff;
        font-size: 40px;
        margin-top: 20px;
        font-weight: 300; }
  body .pp-continue-container {
    clear: both;
    margin: 55px 0 20px 0;
    text-align: center; }
  @media only screen and (min-width: 1366px) {
    body .pp-total-information .pp-header .pp-header__heading {
      font-size: 21px; }
    body .pp-total-information .pp-configuration .pp-configuration__heading, body .pp-total-information .pp-configuration .pp-configuration__subheading {
      font-size: 15px; }
    body .pp-total-information .pp-total-details .pp-total-details__heading {
      font-size: 15px; }
    body .pp-total-information .pp-total-details .pp-total-details__balance {
      font-size: 45px; } }
  @media only screen and (max-width: 520px) {
    body .pp-total-information .pp-total-details .pp-total-details__balance {
      font-size: 36px; }
    body .pp-continue-container {
      margin-top: 95px; }
      body .pp-continue-container .pp-continue-container__button .pp-continue-container__button {
        font-size: 13px; } }
  @media only screen and (max-width: 380px) {
    body .pp-total-information .pp-total-details .pp-total-details__heading {
      font-size: 12px; }
    body .pp-total-information .pp-total-details .pp-total-details__balance {
      font-size: 28px; }
    body .pp-continue-container {
      margin-top: 25px; }
      body .pp-continue-container .pp-continue-container__button {
        font-size: 11px; } }

/*# sourceMappingURL=main.css.map */
