body {
  background-color: #333;
}

.pp-header {
  text-align: center;
  margin: 20px;
  color: #fff;
  font-size: 36px;

  .pp-header__heading {
    text-transform: uppercase;
  }
}

.pp-continue-container {
  padding-top: 50px;

  .pp-continue-button {
    margin: 0 auto;
    display: block;
    width: 100px;
  }
}