<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penny-Pincher</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <link rel="stylesheet" href="./stylesheets/main.stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="pp-main">
    <section class="pp-total-information">
      <header class="pp-header">
        <h1 class="pp-header__heading">Penny-Pincher</h1>
      </header>
      <div class="pp-total-details">
        <h2 class="pp-total-details__heading">
          TOTAL BALANCE
        </h2>
        <p class="pp-total-details__balance" id="totalBalance">
        </p>
      </div>
    </section>
    <section class="pp-accounts-container">
      <h1 class="pp-accounts-container__heading">Accounts:</h1>
      <ul class="pp-account" id="accountList"></ul>
    </section>
    <div class="pp-transaction-container">
      <span class="pp-transaction-container__button--add">
        <a
          href="../add_transaction/add_transaction.template.html"
          class="btn btn-success pp-btn-add"
          type="button">
          Add transaction
        </a>
      </span>
      <span class="pp-resetButton">
      <a
        href="../accounts/accounts.template.html"
        class="btn btn-danger pp-btn-reset"
        id="resetLocalStorageButton"
        type="button">
        RESET & START AGAIN
      </a>
    </span>
    </div>
    <script src="../../helper_modules/ManageLocalStorage.js"></script>
    <script src="./main.js"></script>
  </body>
</html>