.pp-accounts-container {
  .pp-account-list {
    list-style-type: none;
    padding: 5px;
    .pp-account-list__item {
      margin-bottom: 10px;
    }
    .pp-account-list__name {
      display: inline-block;
      width: 195px;
    }
    .pp-account-list__balance {
      display: inline-block;
      width: 140px;
    }
    .pp-account-list__button {
      margin-left: 50px;
    }
  }
}
