@import "../../../stylesheets/variables";
.pp-form-container {
  margin: 20px auto;
  .pp-configure-form {
    .pp-configure-form__input {
      color: #222;
    }
    .pp-configure-form__button {
      width: 45px;
      height: 45px;
      margin-left: 50px;
      background: $teal-accent;
      border-radius: 25px;
      padding: 6px;
      border: none;
      color: white;
      font-size: 15px;
    }
  }
}
