.pp-accounts-container {
  width: 470px;
  margin: 0 auto; }
  .pp-accounts-container .pp-accounts-container__heading {
    font-size: 16px;
    margin: 15px auto;
    text-align: center; }
  .pp-accounts-container .pp-account-list {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 470px;
    font-size: 14px; }
    .pp-accounts-container .pp-account-list .pp-account-list__item {
      border: 1px solid #F6F5F8;
      height: 55px;
      padding: 5px; }
      .pp-accounts-container .pp-account-list .pp-account-list__item:nth-child(even) {
        background-color: #F6F5F8; }
      .pp-accounts-container .pp-account-list .pp-account-list__item:hover > .pp-account-list__name {
        margin-left: 20px; }
    .pp-accounts-container .pp-account-list .pp-account-list__name {
      margin-right: 10px;
      padding-left: 5px;
      display: inline-block;
      width: 270px;
      line-height: 45px; }
    .pp-accounts-container .pp-account-list .pp-account-list__balance {
      display: inline-block;
      width: 90px;
      margin-right: 10px; }
    .pp-accounts-container .pp-account-list .pp-account-list__button {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #ED1946;
      padding: 6px;
      border: none;
      color: white;
      font-size: 15px; }
      .pp-accounts-container .pp-account-list .pp-account-list__button .pp-account-list__icon {
        color: #fff; }

.pp-form-container {
  position: relative;
  margin: 30px auto;
  width: 470px; }
  .pp-form-container .pp-configure-form {
    display: block;
    overflow: hidden;
    margin-left: 40px; }
    .pp-form-container .pp-configure-form .pp-configure-form__name {
      float: left;
      margin-left: 10px; }
    .pp-form-container .pp-configure-form .pp-configure-form__balance {
      float: left;
      margin-left: 10px; }
    .pp-form-container .pp-configure-form .pp-configure-form__input {
      color: #222;
      font-size: 13px; }
    .pp-form-container .pp-configure-form .pp-configure-form__button {
      width: 45px;
      height: 45px;
      font-size: 15px;
      position: absolute;
      right: 35px;
      bottom: 4px; }

.pp-alert {
  margin: 0 auto 10px auto;
  font-size: 14px;
  width: 460px; }

@media only screen and (min-width: 1366px) {
  .pp-accounts-container {
    width: 600px; }
    .pp-accounts-container .pp-accounts-container__heading {
      font-size: 20px; }
    .pp-accounts-container .pp-account-list {
      width: 530px;
      font-size: 16px; }
      .pp-accounts-container .pp-account-list .pp-account-list__name {
        width: 300px; }
      .pp-accounts-container .pp-account-list .pp-account-list__balance {
        width: 120px; }
      .pp-accounts-container .pp-account-list .pp-account-list__button {
        font-size: 18px; }

  .pp-form-container .pp-configure-form {
    margin: 0 auto; }
    .pp-form-container .pp-configure-form .pp-configure-form__input {
      font-size: 16px; }
    .pp-form-container .pp-configure-form .pp-configure-form__button {
      right: 4px;
      bottom: 2px; }

  .pp-alert {
    width: 520px;
    font-size: 15px; } }
@media only screen and (max-width: 520px) {
  .pp-accounts-container {
    width: 360px; }
    .pp-accounts-container .pp-account-list {
      padding: 1px;
      width: 300px;
      font-size: 13px; }
      .pp-accounts-container .pp-account-list .pp-account-list__item {
        padding: 2px;
        position: relative; }
        .pp-accounts-container .pp-account-list .pp-account-list__item:hover > .pp-account-list__name {
          margin-left: 10px; }
        .pp-accounts-container .pp-account-list .pp-account-list__item:hover > .pp-account-list__balance {
          margin-left: 10px; }
      .pp-accounts-container .pp-account-list .pp-account-list__name {
        margin-right: 0;
        padding-left: 1px;
        display: block;
        width: 250px;
        line-height: 16px; }
      .pp-accounts-container .pp-account-list .pp-account-list__balance {
        display: inline-block;
        width: 90px;
        margin-right: 0; }
      .pp-accounts-container .pp-account-list .pp-account-list__button {
        position: absolute;
        right: 3px;
        bottom: 9px;
        width: 35px;
        height: 35px;
        font-size: 13px; }

  .pp-form-container {
    margin: 5px auto;
    width: 300px; }
    .pp-form-container .pp-configure-form {
      display: block;
      margin-left: 40px; }
      .pp-form-container .pp-configure-form .pp-configure-form__name {
        float: none; }
      .pp-form-container .pp-configure-form .pp-configure-form__balance {
        float: none; }
      .pp-form-container .pp-configure-form .pp-configure-form__input {
        color: #222;
        font-size: 12px; }
      .pp-form-container .pp-configure-form .pp-configure-form__button {
        width: 35px;
        height: 35px;
        position: absolute;
        font-size: 13px;
        right: 5px;
        top: 24px; }

  .pp-alert {
    margin: 0 auto 10px auto;
    font-size: 12px;
    width: 260px; } }
@media only screen and (max-width: 380px) {
  .pp-accounts-container {
    width: auto; }
    .pp-accounts-container .pp-account-list {
      padding: 0;
      width: 245px;
      font-size: 11px; }
      .pp-accounts-container .pp-account-list .pp-account-list__item {
        height: 45px;
        padding: 0; }
        .pp-accounts-container .pp-account-list .pp-account-list__item:hover > .pp-account-list__name {
          margin-left: 0; }
        .pp-accounts-container .pp-account-list .pp-account-list__item:hover > .pp-account-list__balance {
          margin-left: 0; }
      .pp-accounts-container .pp-account-list .pp-account-list__name {
        width: 240px;
        line-height: 14px; }
      .pp-accounts-container .pp-account-list .pp-account-list__button {
        bottom: 7px;
        width: 30px;
        height: 30px;
        font-size: 12px; }

  .pp-form-container {
    height: auto;
    width: 245px; }
    .pp-form-container .pp-configure-form {
      width: auto; }
      .pp-form-container .pp-configure-form .pp-configure-form__button {
        width: 30px;
        height: 30px;
        padding-left: 8px; }

  .pp-alert {
    width: 240px;
    margin: 0 auto 0 auto;
    font-size: 11px; } }

/*# sourceMappingURL=accounts.stylesheet.css.map */
