@import "../../../stylesheets/variables";

.pp-history {
  color: #111;
  .pp-transaction-history {
    width: 450px;
    margin: 0 auto;
    .pp-transaction-history__heading {
      font-size: 22px;
      margin: 15px auto;
      text-align: center;
    }
    .pp-transaction-table {
      margin: 0 auto;
      width: 450px;
      .pp-transaction-table-head {
        background-color: $depth-blue;
        color: #fff;
        .pp-transaction-table-head__tr {

        }
        .pp-transaction-table-head__th {
          height: 80px;
          font-size: 15px;
          .pp-transaction-sorter {
            margin-left: 20px;
          }
        }
      }
      .pp-transaction-table-body {
        color: #111;
        .pp-transaction-table-body__tr {
          &:nth-child(even){
            background-color: #efefef;
          }
          .pp-transaction-table-body__td--category {
            width: 130px;
            display: inline-block;
            margin-left: 10px;
            font-size: 14px;
          }
          .pp-transaction-table-body__td--titledate {
            width: 180px;
            display: inline-block;
            margin-left: 10px;
            font-size: 14px;
          }
          .pp-transaction-table-body__td--amount {
            width: 100px;
            display: inline-block;
            margin-left: 10px;
            font-size: 14px;
          }
          .pp-transaction-table-body__td--date {
            color: $blue-grey;
          }
          .pp-transaction-table-body__td--amountMinus {
            color: $pink-accent;
            width: 100px;
          }
          .pp-transaction-table-body__td--amountPlus {
            color: $teal-accent;
            width: 100px;
          }
        }
      }
    }

    .pp-buttonContainer {
      margin-top: 20px;
      text-align: center;
      .pp-transaction-history__button {
        padding: 6px 16px;
        border: 1px solid #446d88;
        background-color: $depth-blue;
        border-radius: 25px;
        box-shadow: 0 1px 5px gray;
        color: white;
        text-shadow: 0 -1px 1px #335166;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
        &:hover {
          background-color: lighten($depth-blue, 20%);
        }
      }
    }
  }
}

@media only screen and (min-width: $XL) {
  .pp-history {
    .pp-transaction-history {
      width: 600px;
      .pp-transaction-history__heading {
        font-size: 24px;
      }
      .pp-transaction-table {
        width: 600px;
        .pp-transaction-table-head {
          .pp-transaction-table-head__tr {
          }
          .pp-transaction-table-head__th {
            .pp-transaction-sorter {
            }
          }
        }
        .pp-transaction-table-body {
          .pp-transaction-table-body__tr {
            .pp-transaction-table-body__td--category {
              width: 160px;
              font-size: 16px;
            }
            .pp-transaction-table-body__td--titledate {
              width: 220px;
              font-size: 16px;
            }
            .pp-transaction-table-body__td--amount {
              width: 130px;
              font-size: 16px;
            }
            .pp-transaction-table-body__td--date {
            }
            .pp-transaction-table-body__td--amountMinus {
            }
            .pp-transaction-table-body__td--amountPlus {
            }
          }
        }
      }
      .pp-buttonContainer {
        .pp-transaction-history__button {
        }
      }
    }
  }
}

@media only screen and (max-width: $M) {
  .pp-history {
    .pp-transaction-history {
      width: 360px;
      .pp-transaction-history__heading {
        font-size: 18px;
      }
      .pp-transaction-table {
        width: 360px;
        .pp-transaction-table-head {
          .pp-transaction-table-head__tr {
          }
          .pp-transaction-table-head__th {
            font-size: 12px;
            .pp-transaction-sorter {
            }
          }
        }
        .pp-transaction-table-body {
          .pp-transaction-table-body__tr {
            .pp-transaction-table-body__td--category {
              width: 120px;
              font-size: 12px;
            }
            .pp-transaction-table-body__td--titledate {
              width: 150px;
              font-size: 12px;
            }
            .pp-transaction-table-body__td--amount {
              width: 60px;
              font-size: 12px;
            }
            .pp-transaction-table-body__td--date {
            }
            .pp-transaction-table-body__td--amountMinus {
            }
            .pp-transaction-table-body__td--amountPlus {
            }
          }
        }
      }
      .pp-buttonContainer {
        .pp-transaction-history__button {
        }
      }
    }
  }
}

@media only screen and (max-width: $S) {
  .pp-history {
    .pp-transaction-history {
      width: auto;
      .pp-transaction-history__heading {
      }
      .pp-transaction-table {
        width: auto;
        .pp-transaction-table-head {
          .pp-transaction-table-head__tr {
          }
          .pp-transaction-table-head__th {
            .pp-transaction-sorter {
              margin-left: 7px;
            }
          }
        }
        .pp-transaction-table-body {
          .pp-transaction-table-body__tr {
            .pp-transaction-table-body__td--category {
              width: 30%;
              margin-left: 5px;
            }
            .pp-transaction-table-body__td--titledate {
              width: 30%;
              margin-left: 5px;
            }
            .pp-transaction-table-body__td--amount {
              width: 30%;
              margin-left: 5px;
            }
            .pp-transaction-table-body__td--date {
            }
            .pp-transaction-table-body__td--amountMinus {
            }
            .pp-transaction-table-body__td--amountPlus {
            }
          }
        }
      }
      .pp-buttonContainer {
        .pp-transaction-history__button {
          font-size: 14px;
        }
      }
    }
  }
}