@import "../../../stylesheets/variables";

.pp-history {
  color: #111;
  .pp-transaction-history {
    width: 450px;
    margin: 0 auto;
    .pp-transaction-history__heading {
      font-size: 16px;
      margin: 15px auto;
      text-align: center;
    }
    .pp-transaction-table {
      margin: 0 auto;
      width: auto;
      .pp-transaction-table-head {
        background-color: $depth-blue;
        color: #fff;
        .pp-transaction-table-head__tr {

        }
        .pp-transaction-table-head__th {
          height: 80px;
          font-size: 15px;
          .pp-transaction-sorter {
            margin-left: 20px;
          }
        }
      }
      .pp-transaction-table-body {
        color: #111;
        .pp-transaction-table-body__tr {
          &:nth-child(even){
            background-color: #efefef;
          }
          .pp-transaction-table-body__td {
            width: 150px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
          }
          .pp-transaction-table-body__td--date {
            color: $blue-grey;
          }
          .pp-transaction-table-body__td--amountMinus {
            color: $pink-accent;
            width: 100px;
          }
          .pp-transaction-table-body__td--amountPlus {
            color: $teal-accent;
            width: 100px;
          }
        }
      }
    }

    .pp-buttonContainer {
      margin-top: 20px;
      text-align: center;
      .pp-transaction-history__button {
        padding: 6px 16px;
        border: 1px solid #446d88;
        background-color: $depth-blue;
        border-radius: 25px;
        box-shadow: 0 1px 5px gray;
        color: white;
        text-shadow: 0 -1px 1px #335166;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
        &:hover {
          background-color: lighten($depth-blue, 20%);
        }
      }
    }
  }
}