.pp-history {
  color: #111; }
  .pp-history .pp-transaction-history {
    width: 450px;
    margin: 0 auto; }
    .pp-history .pp-transaction-history .pp-transaction-history__heading {
      font-size: 22px;
      margin: 15px auto;
      text-align: center; }
    .pp-history .pp-transaction-history .pp-transaction-table {
      margin: 0 auto;
      width: 450px; }
      .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-head {
        background-color: #292787;
        color: #fff; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-head .pp-transaction-table-head__th {
          height: 80px;
          font-size: 15px; }
          .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-head .pp-transaction-table-head__th .pp-transaction-sorter {
            margin-left: 20px; }
      .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body {
        color: #111; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr:nth-child(even) {
          background-color: #efefef; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--category {
          width: 130px;
          display: inline-block;
          margin-left: 10px;
          font-size: 14px; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--titledate {
          width: 180px;
          display: inline-block;
          margin-left: 10px;
          font-size: 14px; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--amount {
          width: 100px;
          display: inline-block;
          margin-left: 10px;
          font-size: 14px; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--date {
          color: #9A9AAC; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--amountMinus {
          color: #ED1946;
          width: 100px; }
        .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--amountPlus {
          color: #10EDC5;
          width: 100px; }
    .pp-history .pp-transaction-history .pp-buttonContainer {
      margin-top: 20px;
      text-align: center; }
      .pp-history .pp-transaction-history .pp-buttonContainer .pp-transaction-history__button {
        padding: 6px 16px;
        border: 1px solid #446d88;
        background-color: #292787;
        border-radius: 25px;
        box-shadow: 0 1px 5px gray;
        color: white;
        text-shadow: 0 -1px 1px #335166;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none; }
        .pp-history .pp-transaction-history .pp-buttonContainer .pp-transaction-history__button:hover {
          background-color: #4c49cb; }

@media only screen and (min-width: 1366px) {
  .pp-history .pp-transaction-history {
    width: 600px; }
    .pp-history .pp-transaction-history .pp-transaction-history__heading {
      font-size: 24px; }
    .pp-history .pp-transaction-history .pp-transaction-table {
      width: 600px; }
      .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--category {
        width: 160px;
        font-size: 16px; }
      .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--titledate {
        width: 220px;
        font-size: 16px; }
      .pp-history .pp-transaction-history .pp-transaction-table .pp-transaction-table-body .pp-transaction-table-body__tr .pp-transaction-table-body__td--amount {
        width: 130px;
        font-size: 16px; } }

/*# sourceMappingURL=history.stylesheet.css.map */
