@import "../../../stylesheets/variables";

.pp-history {
  color: #111;
  .pp-transaction-history {
    .pp-transaction-table {
      margin: 0 auto;
      .pp-transaction-table__head {
        background-color: $depth-blue;
        color: #fff;
        .pp-transaction-table__head__tr {

        }
        .pp-transaction-table__head__th {

        }
      }
      .pp-transaction-table-body {
        color: #111;
        .pp-transaction-table-body__tr {
          &:nth-child(even){
            background-color: #efefef;
          }
          .pp-transaction-table-body__td {
            width: 150px;
          }
          .pp-transaction-table-body__td--amountMinus {
            color: $pink-accent;
          }
          .pp-transaction-table-body__td--amountPlus {
            color: $teal-accent;
          }
        }
        .pp-transaction-table-body__category {

        }
        .pp-transaction-table-body__titleDate {

        }
        .pp-transaction-table-body__titleDate--date {
          color: $blue-grey;
        }

        .pp-transaction-table-body__amount {

        }
      }
    }

    .pp-buttonContainer {
      margin-top: 20px;
      text-align: center;
      .pp-transaction-history__button {
        padding: 6px 16px;
        border: 1px solid #446d88;
        background-color: $depth-blue;
        border-radius: 25px;
        box-shadow: 0 1px 5px gray;
        color: white;
        text-shadow: 0 -1px 1px #335166;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
        &:hover {
          background-color: lighten($depth-blue, 20%);
        }
      }
    }
  }
}