.pp-main {
  .pp-accounts-container {
    .pp-account-container {
      width: 30%;
      float: left;
      margin: 5px;
      .pp-account-details {

        .pp-account-balance {

        }
      }
    }
  }
  .pp-total-container {
    width: 30%;
    margin: 20px auto;
  }
  .pp-transaction-container {
    margin: 10px auto;
    width: 100px;
  }
}
