@import "../../../stylesheets/variables";

.pp-main {
  .pp-total-information {
    width: 450px;
    height: 545px;
    margin: 0 auto;
    background-color: $depth-blue;
    .pp-total-details {
      width: 450px;
      margin: 40px auto;
      text-align: center;
      font-size: 25px;
      .pp-total-details__heading {
        color: $subheading;
        font-size: 12px;
        letter-spacing: 1px;
      }
      .pp-total-details__balance {
        color: #fff;
        font-size: 45px;
        margin-top: 20px;
        font-weight: 300;
      }
    }
  }
  .pp-accounts-container {
    .pp-account {
      width: 30%;
      float: left;
      margin: 5px 5px 10px 26px;
      border: 2px solid $depth-blue;
      .pp-account-details {
        color: #fff;
        text-align: center;
        height: 90px;
        .pp-account-details__name {
          background-color: $depth-blue;
        }
        .pp-account-details__balance {
          color: $depth-blue;
          font-size: 20px;
        }
        .pp-account-details__button {
          padding: 6px 16px;
          border: 1px solid #446d88;
          background-color: $depth-blue;
          border-radius: 25px;
          box-shadow: 0 1px 5px gray;
          color: white;
          text-shadow: 0 -1px 1px #335166;
          font-size: 12px;
          line-height: 1.5;
          text-decoration: none;
          &:hover {
            background-color: lighten($depth-blue, 20%);
          }
        }
      }
    }
  }

  .pp-transaction-container {
    margin: 10px auto;
    padding-top: 50px;
    text-align: center;
    .pp-transaction-container__button--add {
      padding: 6px 16px;
      border: 1px solid #446d88;
      background-color: darken($teal-accent,20%);
      border-radius: 25px;
      box-shadow: 0 1px 5px gray;
      color: white;
      text-shadow: 0 -1px 1px #335166;
      font-size: 20px;
      line-height: 1.5;
      text-decoration: none;
      &:hover {
        background-color: $teal-accent;
      }
    }
    .pp-transaction-container__button--reset {
      padding: 6px 16px;
      border: 1px solid #446d88;
      background-color: darken($pink-accent, 20%);
      border-radius: 25px;
      box-shadow: 0 1px 5px gray;
      color: white;
      text-shadow: 0 -1px 1px #335166;
      font-size: 15px;
      line-height: 1.5;
      text-decoration: none;
      float: right;
      &:hover {
        background-color: $pink-accent;
      }
    }
  }
}
