<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penny-Pincher categories</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <link rel="stylesheet" href="./stylesheets/categories.stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="pp-categories">
    <section class="pp-total-information">
      <header class="pp-header">
        <h1 class="pp-header__heading">Configure Penny-Pincher</h1>
      </header>
      <div class="pp-configuration">
        <h1 class="pp-configuration__heading">
          STEP 2/2
        </h1>
        <h2 class="pp-configuration__subheading">
          Create your categories
        </h2>
      </div>
    </section>
    <div class="pp-categories-container">
      <section class="pp-expense">
        <h3 class="pp-expense__heading">Expense</h3>
        <ul class="pp-expense-list" id="expenseList"></ul>
        <form class="pp-expense-form">
          <label class="sr-only" for="expense-category">Expense category</label>
          <input
            type="text"
            id="expense-category"
            class="pp-expense-form__input"
            placeholder="Enter expense category"
            required
            maxlength="20">
          <p class="pp-expense-form__button">
            <button type="button" id="add-expenseButton" class="btn btn-danger">
              <span class="glyphicon glyphicon-plus"> </span>
            </button>
          </p>
        </form>
        <div class="pp-expense__alert" id="expenseAlert"></div>
      </section>
      <section class="pp-income">
        <h3 class="pp-income__heading">Income</h3>
        <ul class="pp-income-list" id="incomeList"></ul>
        <form class="pp-income-form">
          <label class="sr-only" for="income-category">Income category</label>
          <input
            type="text"
            id="income-category"
            class="pp-income-form__input"
            placeholder="Enter income category"
            required
            maxlength="20">
          <p class="pp-income-form__button">
            <button type="button" id="add-incomeButton" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"> </span>
            </button>
          </p>
        </form>
        <div class="pp-income__alert" id="incomeAlert"></div>
      </section>
      <div class="pp-continue-container">
        <a
          href="../main/main.template.html"
          class="pp-continue-container__button btn btn-success">
          Continue
        </a>
      </div>
    </div>
    <script src="../../helper_modules/ManageLocalStorage.js"></script>
    <script src="./categories.js"></script>
  </body>
</html>